<div class="crypto-balance-space">
  <h2 class="subTitle">Historial de Transacciones</h2>
  <hr class="my-2 mx-1 subTitle">

  <div class="my-2">
    <div class="balance-resume-entry-title grid-container">
      <span class="balance-resume-title">Fecha</span>
      <span class="balance-resume-title">Tipo de Transacción</span>
      <span class="balance-resume-title">Criptomoneda</span>
      <span class="balance-resume-title">Cantidad</span>
      <span class="balance-resume-title">Precio por Unidad (USD)</span>
      <span class="balance-resume-title">Monto Total (USD)</span>
      <span class="balance-resume-title">Estado</span>
    </div>

    <div *ngFor="let transaction of userInfo?.transactions" class="balance-resume-entry grid-container">
      <span class="balance-resume-data">{{ getDate(transaction.date) }}</span>
      <span class="balance-resume-data">{{ transaction.transactionType }}</span>
      <span class="balance-resume-data">{{ transaction.cryptocurrency }}</span>
      <span class="balance-resume-data">{{ transaction.quantity | number: '1.2-3'}}</span>
      <span class="balance-resume-data">{{ transaction.pricePerUnitUSD | currency:'USD' }}</span>
      <span class="balance-resume-data">{{ transaction.totalAmountUSD | currency:'USD' }}</span>
      <span class="balance-resume-data">{{ transaction.transactionStatus }}</span>
    </div>
  </div>
</div>