<div class="sidebar">
    <div class="sidebar-header text-center">
        <img src="assets\icons\logoNeat.png" alt="Logo" class="logo">
        <h4>CryptoNeat</h4>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/transactions-page']" class="nav-link">
                <i class="fas fa-plus-circle"></i> Nueva operación
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/history']" class="nav-link">
                <i class="fas fa-history"></i> Historial de operaciones
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link">
                <i class="fas fa-credit-card"></i> Depositar billetera
            </a>
        </li>
        <li class="nav-item profile-item">
            <a [routerLink]="['/home']" class="nav-link">
                Mi perfil
            </a>
        </li>
        <li class="nav-item">
            <button (click)="logout()" class="btn btn-primary mt-1 mb-3">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            </button>
        </li>
    </ul>
</div>