<div class="sidebar">
    <div class="sidebar-header text-center">
        <img src="assets\logoNeat.png" alt="Logo" class="logo">
        <h4>CryptoNeat</h4>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-plus-circle"></i> Nueva operación
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-history"></i> Historial de operaciones
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-credit-card"></i> Depositar billetera
            </a>
        </li>
        <li class="nav-item profile-item">
            <a href="#" class="nav-link">
                <img src="path-to-profile-image" alt="Profile" class="profile-pic"> Mi perfil
            </a>
        </li>
    </ul>
</div>