.perfil-space{
    padding: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.crypto-balance-space{
    padding: 15px;
    margin-left: 200px;
    margin-bottom: 15px;
}

.crypto-price-space{
    padding: 15px;
    margin-left: 185px;
    margin-bottom: 15px;
}
.subTitle{
    color: #2E3B8A;
}